
time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #836361;
  border-bottom: 1px dashed #836361;
  box-shadow: 0 2px 0 #836361;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

.well
{
    background-color: white;
    border-style: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    
    
}

.eventContainer
{
   /* background-color: #353535;*/ 
    color: black;
    font-family: "Helvetica"; 
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    border-style: solid;
    border-color: #9a999a;
    
}

.progContainer
{
   /* background-color: #353535;*/ 
    color: black;
    font-family: "Helvetica"; 
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    border-style: solid;
    border-color: #9a999a;
    
}

h4
{
    diplay: inline-block;
    background-color: #9a999a;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-family: "Helvetica";
    margin-bottom: 0px;
}

.labels
{
    display: inline-block;
    padding: 4px;
    font-weight: bold;
    margin-right: 3px;
    margin-bottom: 0px;
    
}

.upStatus
{
    display: inline-block;
    padding: 4px;
    font-weight: bold;
    border-radius: 5px;
    
}

.otherStatus
{
    display: inline;
    background-color: #508071;
    padding: 4px;
    font-weight: bold;
}

.btn-info
{
    margin-right:10px;
    background-color: #836361;
    border-style: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    
}


.btn-info:active
{
    background-color: #5b4442;
    border-style: hidden;
    box-shadow: none;
    
}

.btn-info:hover
{
    background-color: #5b4442;
    border-style: hidden;
    box-shadow: none;
    
}

.btn-success
{
    margin-top: 0px;
    margin-bottom: 10px;
}


.space
{
    margin-bottom: 50px;
}

.progLabel
{
    border-radius: 5px;
    padding: 4px;
    background-color: #C2BAB3;
    color: white;
}
