/*-----------------------------------------------------------
                     START OF HOMEPAGE CSS 
------------------------------------------------------------*/

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
}

/*-----------------------------------------------------------
                     END OF HOMEPAGE CSS 
------------------------------------------------------------*/

/*-----------------------------------------------------------
                     START OF MANAGE EVENT CSS 
------------------------------------------------------------*/

.formPadding{
    padding-left: 30px;
    padding-right: 30px;
}    

#saveBut, #removeBur{
    display: inline-block;
}
    
    
/*-----------------------------------------------------------
                     END OF MANAGE EVENT CSS 
------------------------------------------------------------*/