body
{
    
    font-family: 'Audiowide';
    text-transform: capitalize;
}

*
{
    margin:0;
    padding:0;
}

.header
{
    margin:auto;
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    background: rgba(25, 25, 29, .8);
    width: 70%;
    color: aliceblue;
}


.logo {
	
	
	width: 80px;
	height: 80px;
	
	background-color: darksalmon;
}

.container {
	margin: auto;
    margin-top: 10px;
	background: rgba(25, 25, 25, .8);
    
	padding: 50px;
	margin-bottom: 20px;
	color: white;
	border-radius: 5px;
}

input[type=text],input[type=email], input[type=password],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

form button{
  background-color:bisque;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  font-family: 'Audiowide';
}

.change
{
  justify-content: center;
  align-items: center;
  display: flex;
}

.change input[type=button], input[type=submit] {
  background-color:bisque;
  color: black;
  padding: 14px 0px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  font-family: 'Audiowide';
  text-align: center;
}

/*register form */
.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 23px;
  right: 28px;
  width: 180px;
}

.form-popup {
  display: none;
  position:sticky;
  bottom: 0;
  border: 3px solid #f1f1f1;
  
}

.form-container .cancel {
  background-color: red;
  text-align: center;
}

.form-container {
  max-width: 700px;
  padding: 10px;
  background-color: white;
  color:black;
}

.homelink
{
    color: white;
    text-align:center;
    padding: 14px 0px;
    margin: 10px 0;
}


 a:link.addp, a:visited.addp {
  background-color: bisque;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

a:hover.addp, a:active.addp {
  background-color: burlywood;
}

.login 
{
    margin:auto;
    padding: 10px;
    text-align: center;
}
.login a
{
  background-color: burlywood;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
    padding: 10px;
  
}

.login a:hover {
  background-color: #555;
}

/* nav */

.navbar {
  overflow: hidden;
  background-color: darksalmon;
    padding: 20px;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  vertical-align: middle;
}

.dropdown {
  float:right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightcoral;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*table*/
.tablep {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: darkslategray;
  text-align: center;
}

.tablep td, .tablep th {
  border: 1px solid #ddd;
  padding: 8px;
    
}

.tablep tr:nth-child(even){
    background-color: #f2f2f2;
}

.tablep tr:nth-child(odd){
    background-color:darkseagreen;
}

.tablep tr:hover {background-color: #ddd;}

.tablep th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:deepskyblue;
  color: black;
}



/*bootstrap*/

body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
